/* General */
:root {
    --main-color: #d92123;
    --primary-text-color: #fff;
    --secondary-tet-color: #191919;
    --secondary-color: #868686;
    --tertiary-color: #eff3f4;
}

* {
    font-family: "Lato";
    /* Used to anulata standard browsers configurations */
    padding: 0;
    margin: 0;
    /* All ellements will fit inside its father's tag*/
    box-sizing: border-box;
}

a {
    /* take of all underline */
    text-decoration: none;
}

img {
    /* Img respect father ellement size */
    width: 100%;
}

/* Wher you click in a submit link, the cursor changes from a arrow to a hand*/
input[type="submit"] {
    cursor: pointer;
}

i {
    background-color: var(--main-color);
    color: var(--primary-text-color);
    font-size: 2.5rem;
    padding: 2rem;
}

/* header and banner */
#header {
    /* banner will have at least 90% the screen size */
    min-height: 90vh;
    /* the ".." return a folder */
    background-image: url("../img/main_banner4.png");
    /* Image size optmized to the page size*/
    background-size: cover;
    /*center image */
    background-position: center;
    /* change the text color */
    color: var(--primary-text-color);
    /* a space to the next sessio be separated from the first */
    margin-bottom: 2rem;
    /* relative because it will have other absolute position ellements insithe this ellement */
    position: relative;
}

#inner-header {
    /* make the ellement easier to move */
    display: flex;
    /* make the title and the options be spaced to the sides */
    justify-content: space-between;
    /* align vertically in the center*/
    align-items: center;
}

#brand {
    background-color: var(--main-color);
    /* Padding is the space over and under the title */
    padding: 1rem;
}

#navbar {
    display: flex;
    /* Space 2rem between each */
    gap: 2rem;
    text-transform: uppercase;
    margin-right: 2rem;
}

/* Modifying only the items with tag "a" that are inside the navbar */
#navbar a {
    color: var(--primary-text-color);
    font-weight: bold;
    pad: 1rem;
}

.banner.active {
    opacity: 1;
}

.banner {
    max-height: 50%;
    padding: 4rem;
    opacity: 0;
    /* Make the banner be inside the other banner. Its position now is absolute, not relative */
    position: absolute;
    transition: .6s;
}

.banner h2 {
    font-size: 4rem;
    margin-bottom: 1.2rem;
    position: relative;
    /* as higher the zindex is, upper the object is */
    z-index: 2;
    left: 20px;
    top: 20px;
}

.banner p {
    font-size: 1.5rem;
    position: relative;
    left: 20px;
    top: 40px;
}

.square {
    display: block;
    width: 150px;
    height: 150px;
    background-color: var(--main-color);
    position: absolute;
    z-index: 1;
}

.dots {
    display: flex;
    gap: 2rem;
    position: absolute;
    bottom: 3rem;
    left: 3rem;
}

.dot {
    width: 20px;
    height: 20px;
    background-color: var(--secondary-color);

}

.dot.active {
    background-color: var(--main-color);
}

/* Actuation areas */
.text-image-section {
    /* flex to let the img is the side of the text */
    display: flex;
    /* wrap because if width exceeds the screen size, one div go under other */
    flex-wrap: wrap;
    gap: 2rem
}

.text-container {
    /* determine how bigger is than the other */
    flex: 2 1 0;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

.section-subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--main-color)
}

.section-title {
    color: var(--secondary-color);
    font-size: 2rem;
}

.btn {
    padding: 1.2rem 1.8rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: var(--main-color);
    color: var(--primary-text-color);
    /*as it's in flex display, it will ever try to fill the width of the screen, so we need to do: */
    align-self: end;

}

.image-conteiner {
    flex: 1 1 300px;
    position: relative;
}

.image-conteiner i {
    position: absolute;
}

#other-services {
    width: 100%;
    /* all the images are in the same section, so width 100% and display flex puts everything in the same line */
    display: flex;
    gap: 2rem;
    padding: 2rem;
}

.service {
    position: relative;
}

.service i {
    position: absolute;
    left: 0;
    top: 0;
    padding: 1rem;
    font-size: 1.5rem;
}

.service-info {
    background-color: var(--tertiary-color);
    padding: 2rem 1.4rem;
    min-height: 250px;
    margin-top: -3rem;
    z-index: 2;
    position: relative;
}

.service h4 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

/* About us*/
#about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;

}

#about-text {
    background-image: url("../img/pattern.png");
    background-size: cover;
    background-position: center;
    color: var(--primary-text-color);
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 4rem 3rem;
}

#about-text .section-subtitle,
#about-text .section-title {
    color: var(--primary-text-color);
}

#about-text i {
    background-color: transparent;
}

.about-description {
    display: flex;
    align-items: center;
}

.about-description h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

#about-data {
    flex: 1 1 0;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}

#about-data .data {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

/* To put the border between the elements, 
we will insert a border in the right and in 
the botton of the first element, and a border 
in the top and in the left of the 4th element.
To select only the first element, will be used
a pseudo selector, shown below:
*/
#about-data .data:first-child {}